[Unit]
Description=Droid mount for /system_root
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/data/.stowaways/firmware/system.img
Where=/system_root
Type=ext4
Options=ro,errors=panic
# Options had SELinux context option:  

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

